{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
      "add-module-exports",
      "syntax-async-functions",
      ["transform-regenerator", {"async": true, "asyncGenerators": true}],
      "@babel/plugin-proposal-object-rest-spread",
      "@babel/plugin-transform-classes",
      "@babel/plugin-proposal-class-properties"
  ]
}
